body {
    margin: 0;
    background-color: #1C1D21;
    color: #CCBCBC;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100vh;
}

h1, h2 {
    margin: 0.5rem;
}

.logo {
    width: 150px;
    margin-top: 2rem;
}